html, body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
}
canvas {
  object-fit: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  z-index: 1;
}
.center img {   
  display:block;
  margin-left:auto;
  margin-right:auto;
}

test:active span {display:none}
test:active:before {content:"All Rights Reserved"}

.type {
    z-index:2;
    color:#FFF;
    margin-top:20%;
    position:absolute;
    width:100%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-family:sans-serif;
    transition: transform 1s;
}
.child {
    z-index:2;
    color:#FFF;
    margin-top:20%;
    position:absolute;
    width:100%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-family:sans-serif;
    transition: transform 1s;
}
.child:active {
    transform: rotateX(180deg) scale(1,-1);
   -webkit-transform: rotateX(180deg) scale(1,-1);
   -ms-transform: rotateX(180deg) scale(1,-1);
}
.header {
    position: fixed;
    z-index: 3;
    width: 100%;
    padding-top: 5%;
    background-color: black;
    border-bottom: 1px solid ghostwhite;
}
.funny {
    padding-top: 100%;
}
.head {
    position: fixed;
    height: 12%;
    width: 100%;
    background: linear-gradient(to top, transparent 0%, black 50%);
    z-index: 3;
    padding-top: 5%;
    margin-top: 0;
}
.foot {
    position: absolute;
    height: 50%;
    width: 100%;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
    z-index: 2;
    margin-bottom: 0;
}
.typo {
    color: #FFFFFF;
    font-size: 100%;
    text-align: center;
    font-family: sans-serif;
    z-index: 10;
    padding-top: 50%;
}
placer {
  object-fit: cover;
  width: 50%;
  height: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 30%;
  z-index: 1;
  border: 1px solid white;
}
.border {
  position: fixed;
  top: 0;
  left: 0;
  border: 12px solid red;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: -1;
}
.post {
    position: static;
    display: flex;
    justify-content: center;
    margin-top: 20%;
    z-index: 999;
}
.loader,
.loader:after {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    z-index: 999;
}
#loadingDiv {
    position:absolute;
    width:100%;
    height:100%;
    background-color:#FFF;
    z-index: 999;
}