html, body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}
canvas {
  object-fit: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  z-index: 1;
}
.center img {   
  display:block;
  margin-left:auto;
  margin-right:auto;
}

a:hover, a:visited, a:link, a:active
{text-decoration: none;
color: white;}

test:active span {display:none}
test:active:before {content:"All Rights Reserved"}

.divider {
    width: 100%;
    height: 25%;
    background-color: transparent;
    color: transparent;
    opacity: 0%;
    z-index: -2;
}
.ftype {
    z-index:2;
    color:#FFF;
    position:absolute;
    width:100%;
    height: 10%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-family:sans-serif;
    padding-bottom: 5px;
}
.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner {
    position: absolute;
    display: inline-flex;
    overflow: hidden;
}
.txt {
    z-index:2;
    font-family:sans-serif;
    color: white;
    font-size: 200%;
    filter: contrast(2);
}
.txt::before {
    content: 'ORDER@MADINDEX.ML';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(.5px);
}
.dodge {
    z-index: 4;
    background: radial-gradient(circle, #FFF, black 35%) center / 50% 50%;
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    mix-blend-mode: color-dodge;
    animation: dodge-area 3s linear infinite;
}
@keyframes dodge-area {
    to {
        transform: translate(50%,50%);
    }
}
.type {
    z-index:2;
    color:#FFF;
    position:absolute;
    width: 100%;
    height: 10%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-family:sans-serif;
}
.child {
    z-index:2;
    color:#FFF;
    margin-top:20%;
    position:absolute;
    width:100%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-family:sans-serif;
    transition: transform 1s;
}
.child:active {
    transform: rotateX(180deg) scale(1,-1);
   -webkit-transform: rotateX(180deg) scale(1,-1);
   -ms-transform: rotateX(180deg) scale(1,-1);
}
.funny {
    padding-top: 150%;
}
@media screen and (max-width: 768px) {
    #hero-lightpass {max-width: 80%;margin-left:-40%;}
}
@media screen and (min-width: 769px) {
    #hero-lightpass {max-width: 20%;margin-left:-10%;}

}
.head {
    position: fixed;
    display:block;
    height: 50px;
    width: 100%;
    background: black;
    z-index: 3;
    margin-top: 0;
}
.shadow {
    position: fixed;
    display:block;
    height: 10%;
    width: 100%;
    background: linear-gradient(to top, transparent 0%, black 70%);
    z-index: 3;
    margin-top: 50px;
}
.foot {
    position: absolute;
    height: 50%;
    width: 100%;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
    z-index: 2;
    margin-bottom: 0;
}
.post {
    position: static;
    display: flex;
    justify-content: center;
    margin-top: 20%;
    z-index: 999;
}
.loader,
.loader:after {
    border-radius: 50%;
    width: 100%;
    height: 1000%;
    z-index: 999;
}
#loadingDiv {
    position:absolute;
    width:100%;
    height:1000%;
    background-color:#FFF;
    z-index: 999;
}