@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

html {
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background: #000;
}

/*fixed*/

canvas {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: -50px;
  z-index: -1;
}

a:hover, a:visited, a:link, a:active
{text-decoration: none;
color: white;}

.center {
    text-align: center;
    color: white;
    font-size: 100%;
    font-family: sans-serif;
}

.container {
    text-align: center;
    color: #fff;
    z-index: 99;
    padding-top: 70vh
}

.ali {
    position: absolute;
    color: white;
    font-family: monospace;
    padding-left: 23%;
    padding-top: 30%;
    text-align: center;
}

.ali2 {
    position: absolute;
    color: white;
    font-family: monospace;
    padding-left: 73%;
    padding-top: 30%;
}

.ali3 {
    position: absolute;
    color: white;
    font-family: monospace;
    padding-left: 23%;
    padding-top: 80%;
}

.ali4 {
    position: absolute;
    color: white;
    font-family: monospace;
    padding-left: 73%;
    padding-top: 80%;
}

.box1 {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 50%;
  z-index: -1;
  margin-top: -20%;
}

.box2 {
  position: absolute;
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  margin-top: -20%;
}

.box3 {
  position: absolute;
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  z-index: -2;
  margin-top: 30%;
}

.box4 {
  position: absolute;
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  z-index: -2;
  margin-top: 30%;
}

.lye {
    text-align: left;
    color: white;
    font size: 1.7vh;
    font-family: sans-serif;
}

.c {
    position: fixed;
    margin-left: 75%;
}


.footer {
    text-align: center;
    color: white;
    font-size: 100%;
    font-family: sans-serif;
    padding-bottom: 2%;
}

.mail {
    position: absolute;
    text-align: center;
    color: white;
    z-index: 99;
    margin-left: 45%;
    margin-top: -8%;
}
.insta {
    position: absolute;
    text-align: center;
    color: white;
    z-index: 99;
    margin-left: 55%;
    margin-top: -8%;
}

label {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 20%;
    height: 25%;
    position: fixed;
    left: 10%;
    top: 5%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-weight: bolder;
    z-index: 999;
}


.card {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
}

    .card div {
        position: absolute;
        height: 100%;
        width: 100%;
        background: transparent;
        text-align: center;
        line-height: 200px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .card .back {
        background: transparent;
        color: #FFF;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }


input {
    display: none;
}

:checked + .card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}


